$cellLeftTop: rgba($primary-color, 0.01) 1.8px;
$cellRightBottom: rgba($primary-color, .01) 32px;
$line: rgba($secondary-color, 0.1);

.board-container{
    color: $secondary-color;
    flex-grow: 1;
    background: 
    repeating-linear-gradient(
        to bottom,
        $line, 
        $cellLeftTop,  
        $cellRightBottom
    ),
    repeating-linear-gradient(
        to right,
        $line, 
        $cellLeftTop,  
        $cellRightBottom
    );
}

.note-block{
    position: absolute;
    background-color: #64bbac;
    
    textarea {
        color: $dark-text-color;
        border: none !important;
        rows: "5";
        &:focus{
            border:none !important;
            box-shadow: none !important;
        }
    }

   
    ::-webkit-scrollbar {
        width: 8px;  
        height: 8px; 
    }
    ::-webkit-scrollbar-thumb {
        background-color: #888;  
        border-radius: 4px;  
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555; 
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f100;  
    }

 
}