.description-text{
    color: #777;           
    padding: 0;        
    margin: 0;
    p{
        font-size: 0.95em !important;   
    }
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}